<h1><a href="/">Vehicles</a></h1>
<form action='/update/<%= corvette.Vette_id %>' method="POST">
  Vehicle Id: <%= corvette.Vette_id %><br />
  Body Type: <input type="text" value='<%= corvette.Body_Style %>' name="bodyType"/><br />
  Miles: <input type="text" value='<%= corvette.Miles %>' name="miles"/><br />
  Year: <input type="text" value='<%= corvette.Year %>' name="year"/><br />
  State: <input type="text" value='<%= corvette.State %>' name="state"/><br />
  <input type="reset" value="Clear"/>
  <input type="submit" value="Submit"/>
</form>
